
.price-bar small {
	font-size: 14px;
}

.price-bar {
	background: #f0f9ff;
	color: #092f97;
	padding: 8px;
	border: 3px solid #699fd7;
	border-radius: 3px;
	font-size: 30px;
	margin: 5px;
}

.product-form {
	margin: 10px 0;
}

.form-space {
	margin: 10px 0;
}

.num-btn {
	width: 30px;
}
.num-text {
	text-align: center;
}
nav.navbar {
	background-color: #5b5172;
}